.jobs i {
  float: right;
  padding-top: 2px;
}

.jobs p {
  margin-bottom: 0;
}

textarea {
  font-family: Monaco, "Courier New";
}

.author {
  text-transform: capitalize;
}

#graph {
  width: 100%;
  height: 350px;
}
